.jumbotron {
        padding-top: 10px;
        padding-botton: 0px;
        margin-bottom: 30px;
        background-color: #2ecc71;
}



.jumbotron h1 {
        color:  #ecf0f1;
        font-size: 80px;
        text-align: center;
        font-family: 'Righteous', cursive;
}


.jumbotron h2{
        color: #ecf0f1;
        font-size: 50px;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-weight: "bold";
}

.jumbotron h3{
        color: #ecf0f1;
        font-size:40px;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-weight: "bold";    
}

.panel-body{
    border-block-end-color: black;
    font-size:40px;
}

.panel-heading {
    font-size:50px;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    text-align: center;
    text-decoration-line: red;
}

.panel-body {
        text-align: center;
}